@charset "UTF-8";


table {
    border: 1px solid rgb(58, 56, 56);
    border-collapse: collapse;
    background-color: #f5f5f5;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px#00000044;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: #ccc;
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 12px;
        font-size: 14px;
    }

    th {
        font-size: 16px;
    }

    tr:nth-child(even) {
        background-color: #efefef;
    }

    tr:hover {
        background-color: #e0e0e0;
    }
}